@use 'color.scss';

/* DEFAULT */

html,
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: "Nunito", "Poppins", sans-serif;
    background: color.$light-shade;
    width: 100%;
}

.no-mpding {
    padding: 0;
    margin: 0;
}

.btn-dark-shade,
.bg-dark-shade {
    background: color.$dark-shade;
    color: color.$light-shade;
    opacity: 0.95;
}

a {
    color: color.$light-shade;

    &:hover {
        color: color.$light-accent;
        -o-transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        -webkit-transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

.bg-dark-accent {
    background: color.$dark-accent;
}

.text-info {
    color: color.$info;
}

.text-warning {
    color: color.$warning !important;
}

.text-success {
    color: color.$success !important;
}

.text-danger {
    color: color.$danger !important;
}

.text-info {
    color: color.$info !important;
}

.text-skin {
    color: palegoldenrod;
}

#about h1,
#services h1,
#features h1 {
    letter-spacing: 0.25rem;
}

/* END DEFAULT */

/* NAVBAR */

.navbar-brand {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0 auto;

    & img {
        max-height: 100%;
        max-width: 100%;
    }

    & img {
        -webkit-transition: -webkit-transform 1s ease-out;
        transition: -webkit-transform 1s ease-out;
        -o-transition: transform 1s ease-out;
        transition: transform 1s ease-out;
        transition: transform 1s ease-out, -webkit-transform 1s ease-out;

        &:hover {
            -webkit-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
            -webkit-transition: -webkit-transform 1s ease-in;
            transition: -webkit-transform 1s ease-in;
            -o-transition: transform 1s ease-in;
            transition: transform 1s ease-in;
            transition: transform 1s ease-in, -webkit-transform 1s ease-in;
        }
    }
}

.navbar-collapse {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > .nav-items {
        & > .navbar-nav {
            display: flex;
            align-items: center;
        }
    }
}

.nav-link {
    color: color.$white !important;
}

#registerbtn {
    width: 100px;
    border-radius: 25px;
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);

    &:hover {
        -webkit-transform: scaleY(1.2) scaleX(1.1);
        -ms-transform: scaleY(1.2) scaleX(1.1);
        transform: scaleY(1.2) scaleX(1.1);
        -webkit-box-shadow: 0 2px 0.125px color.$light-accent;
        box-shadow: 0 2px 0.125px color.$light-accent;
        color: color.$light-shade;
        -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    }
}

/* END NAVBAR */

/* HEADER */

#headerContainer {
    position: relative;
    min-height: 60vh;

    &::before {
        content: "";
        position: absolute;
        width: 100vw;
        height: 100%;
        max-width: 100%;
        z-index: -1;
        background: url("/img/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background.jpg");
        background-size: cover;
        background-position: center bottom;
    }
}

#header {
    color: color.$white;
    & h1 {
        line-height: 1;

        & span {
            display: table;
        }
    }

    & > p {
        max-width: 55ch;
    }
}

form {
    position: relative;
}

.searchInput {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 7px;
    width: 250px;
    text-align: right;

    &:placeholder-shown {
        text-align: left;
        text-indent: 10%;
    }
}

#search {
    position: absolute;
    top: 20%;
    left: 4%;

    & .fa-search:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        transition: -webkit-transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out,
            -webkit-transform 0.5s ease-in-out;
    }
}

/* END HEADER */

/* SERVICES SECTION */

.card {
    border: none;
    padding: 20px 25px;
    width: 100%;
    -webkit-box-shadow: 0 5px 2px 0.125px rgba(0, 0, 0, 0.1),
        0 3.2px 0.425px 0.25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 2px 0.125px rgba(0, 0, 0, 0.1),
        0 3.2px 0.425px 0.25px rgba(0, 0, 0, 0.1);

    &-img-top {
        max-width: 100%;
        max-height: 100%;
    }

    &-title {
        font-size: 1em;
    }

    &-text {
        font-size: 0.9em;
        color: #454b52;
    }
}

.image-container {
    width: 250px;
    height: auto;
}

.card {
    & .card-animation {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 0 0%;
        -webkit-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;

        &:hover {
            -webkit-transform: translate(1.05%, -5%);
            transform: translate(1.05%, -5%);
        }
    }
    &:hover {
        border: 2px solid #6c63ff;
    }
}

/* END SERVICES SECTION */

/* FEATURES SECTION */

#features {
    position: relative;
}

.text-container {
    & > h5 {
        color: #a95fb6;
    }

    & > p {
        font-weight: lighter;
        color: #beb9b9;
        line-height: 1.7;
    }
}

/* END FEATURES SECTION */

/* ABOUT SECTION */

.user-image {
    width: 250px;
    height: auto;
    padding: 15px;

    & img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        -webkit-transition: -webkit-transform 1s ease-in;
        transition: -webkit-transform 1s ease-in;
        -o-transition: transform 1s ease-in;
        transition: transform 1s ease-in;
        transition: transform 1s ease-in, -webkit-transform 1s ease-in;

        &:hover {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}

.text-content h5 a {
    color: inherit;
    text-decoration: none;
}

/* END ABOUT SECTION */

/* FOOTER */

footer {
    color: color.$light-shade;
}

#footer-cp,
#footer-container,
#footer-column {
    padding: 0 !important;
    margin: 0 !important;
}

#facebook,
#twitter,
#github {
    color: #fff;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: color 1.5s ease-in;
    -o-transition: color 1.5s ease-in;
    transition: color 1.5s ease-in;

    &:hover {
        -webkit-transition: color 0.5s ease-in-out;
        -o-transition: color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: -webkit-transform 300ms ease-in-out;
        transition: -webkit-transform 300ms ease-in-out;
        -o-transition: transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out,
            -webkit-transform 300ms ease-in-out;
    }
}

#facebook:hover {
    color: color.$facebook;
}

#twitter:hover {
    color: color.$twitter;
}

#github:hover {
    color: color.$github;
}

/* END FOOTER */

/* MISC */

.fade-in {
    opacity: 0;
    -webkit-transition: opacity 250ms ease-in;
    -o-transition: opacity 250ms ease-in;
    transition: opacity 250ms ease-in;

    &.appear {
        opacity: 1;
    }
}

.toast{
    position: absolute;
    right: 0;
    bottom: 1.2em;
    z-index: 1;
}
/* END MISC */

@media only screen and (min-width: 400px) {
    .searchInput {
        width: 300px;
    }

    .card {
        -webkit-box-flex: 1 !important;
        -ms-flex: auto !important;
        flex: auto !important;
        margin-bottom: 2em !important;
    }
}

@media only screen and (min-width: 768px) {
    .nav-items {
        width: 600px;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar-nav {
        justify-content: space-around;
    }

    .searchInput {
        width: 250px;
    }

    #headerContainer {
        height: 100vh;
    }

    .card-deck {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .card {
        -webkit-box-flex: 1 !important;
        -ms-flex: 1 0 0% !important;
        flex: 1 0 0% !important;
        margin: 0 15px;

        & .card-animation:hover {
            padding: 30px 35px;
            -webkit-transform: translate(1.05%, -5%);
            -ms-transform: translate(1.05%, -5%);
            transform: translate(1.05%, -5%);
        }

        &-text {
            margin-top: 2rem;
        }
    }

    .image-container {
        width: 200px;
    }
}

@media only screen and (min-width: 1100px) {
    .card {
        -webkit-box-shadow: 30px 0 20px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 30px 0 20px 0 rgba(0, 0, 0, 0.1);

        &-deck {
            position: relative;
            z-index: 1;
        }

        &-text {
            margin-top: 0;
        }
    }

    .image-container {
        width: 250px;
        height: 220px;
    }

    #features::before {
        content: "";
        background: color.$dark-shade;
        position: absolute;
        top: -150px;
        width: 100vw;
        height: 200px;
        max-width: 100%;
        left: 0;
        z-index: -99;
    }

    #footer-cp,
    #footer-container,
    #footer-column {
        padding: auto !important;
        margin: auto !important;
    }
}
